.user-list {
    max-height: 200px; 
    width: 100vh;
    overflow-y: auto; 
}


.user-item {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.user-name {
    font-weight: bold;
    margin-left:5px;
}

.user-email {
    color: #666;
    margin-left:5px;

}

.remove-button {
    margin-left:5px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #d32f2f;
}
